<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="bg-black font-montserrat text-white text-opacity-50">
<header class="fixed top-0 w-full">
    <div class="flex flex-row justify-between mx-12 my-6 text-sm">
        <ul class="flex flex-row font-bold">
            <li class="mr-10">
                <div class="dropdown absolute">
                    <a>Home</a>
                    <div class="dropdown-content">
                        <a href="{{ path('app_demo_home_pushed') }}">Pushed</a>
                        <a href="{{ path('app_demo_home_shifted') }}">Shifted</a>
                        <a href="{{ path('app_demo_home_centered') }}">Centered</a>
                        <a href="{{ path('app_demo_home_spaced') }}">Spaced</a>
                        <a href="{{ path('app_demo_home_left') }}">Left</a>
                        <a href="{{ path('app_demo_home_right') }}">Right</a>
                    </div>
                </div>
            </li>
            <li class="mr-10">
                <div class="dropdown absolute">
                    <a>Contact</a>
                    <div class="dropdown-content">
                        <a href="{{ path('app_demo_contact_dropped') }}">Dropped</a>
                        <a href="{{ path('app_demo_contact_aligned') }}">Aligned</a>
                        <a href="{{ path('app_demo_contact_inline') }}">Inline</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</header>

{% block body %}{% endblock %}

<footer class="fixed bottom-0 w-full">
    <div class="flex flex-row justify-between mx-12 my-6 text-sm">
        <ul class="flex flex-row font-bold">
            <li class="mr-10"><a href="#" class="hover:text-white">Fb</a></li>
            <li class="mr-10"><a href="#" class="hover:text-white">Tw</a></li>
            <li class="mr-10"><a href="#" class="hover:text-white">In</a></li>
            <li><a href="#" class="hover:text-white">Yt</a></li>
        </ul>
        <div class="uppercase font-bold">Copyright &copy; 2020. All Rights Reserved.</div>
    </div>
</footer>
</body>
</html>
