{% extends 'base.html.twig' %}

{% block title %}Website | Contact{% endblock %}

{% block body %}
    <div class="py-28 mx-44 mt-36">
        <section class="mb-36 w-full my-0 mx-auto max-w-3xl">
            <p class=" text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porttitor ipsum mi, eu
                elementum eros vulputate in. Phasellus sed velit ultricies, dictum ligula sed, consectetur
                lorem. Nulla a suscipit quam. Proin mattis interdum metus ac iaculis. Nam tincidunt velit id .</p>
        </section>

        <section class="my-0 mx-auto flex flex-row">
            <div class="w-1/3 mx-5">
                <h4 class="text-3xl mb-5 w-full uppercase">
                    <span class="text-xs block">My Contacts and Socials</span>
                    <span class="text-white font-bold block">How to Find Me</span>
                </h4>
            </div>
            <div class="w-2/3 mx-5">
                {{ form_start(form) }}

                <div class="flex flex-row">
                    <div class="w-full mr-2.5">
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name) }}
                        {{ form_help(form.name) }}
                    </div>

                    <div class="w-full ml-2.5">
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email) }}
                        {{ form_help(form.email) }}
                    </div>
                </div>

                <div class="w-full">
                    {{ form_errors(form.content) }}
                    {{ form_widget(form.content) }}
                    {{ form_help(form.content) }}
                </div>

                <div class="flex justify-end">
                    {{ form_widget(form.submit) }}
                </div>


                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </section>
    </div>
{% endblock %}
