{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    {% include 'shared/title.html.twig' with {
        'title': 'Contact Me',
        'subtitle': 'How to find me',
    } only %}

    <main class="max-w-5xl m-auto px-4 my-8 w-full
            md:flex md:flex-row">
        <div class="mb-16 mr-8 md:w-1/2">
            <h3 class="hidden md:block text-3xl mb-5 w-full uppercase">
                <span class="text-xs block">Who am i?</span>
                <span class="text-white font-bold block">About me</span>
            </h3>

            <p class="text-center md:text-left">{{ lipsum(300) }}</p>
        </div>

        <section class="mt-8 md:w-1/2">
            {{ form_start(form) }}
            {{ form_widget(form._token) }}

            <div class="lg:flex lg:flex-row">
                <div class="lg:w-full lg:mr-2.5">
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                    {{ form_help(form.name) }}
                </div>

                <div class="lg:w-full lg:ml-2.5">
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                    {{ form_help(form.email) }}
                </div>
            </div>

            <div>
                {{ form_errors(form.contents) }}
                {{ form_widget(form.contents) }}
                {{ form_help(form.contents) }}
            </div>

            <div class="flex justify-center lg:justify-end">
                {{ form_widget(form.submit) }}
            </div>

            {{ form_end(form, {render_rest: false}) }}
        </section>
    </main>
{% endblock %}
